<div class="converter">
  <style>
    html,
    body {
      height: 100%;
    }

    converter {
      display: block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 1px solid #000;
      width: 50%;
      margin: auto;
    }

    converter > div {
      text-align: center;
    }

    button {
      display: block;
      width: 100%;
    }
  </style>
  <div>
    <input type="text" ng-model="converterCtrl.usd">
    <label for="">USD</label>
  </div>
  <div>
    <span ng-bind="converterCtrl.rub"></span>
    <label for="">RUB</label>
  </div>
  <button ng-click="converterCtrl.convert(converterCtrl.usd)">Convert</button>
</div>
